@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}


@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

body {
    font-family: "Roboto", sans-serif;
}

.btn-outline-dark[aria-expanded="true"] {
    background-color: #212529;
    color: #ffffff;
}

.modal {
    height: 100%;
    border-radius: 0;
}

.modal-content {
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    border: 0;
}

.modal-content .slider {
    width: 100%;
    height: 100%;
}

.modal .btn  {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
}

.modal .btn-close  {
    top: 1rem;
}

.modal .btn-start  {
    bottom: 1rem;
}

.slider .slide {
    text-align: center;
    font-size: 90vh;
    font-weight: 900;
    line-height: 100vh;
    font-family: sans-serif;
}

.slider .slide.is-color,
.slider .slide.is-dead {
    font-size: 0;
}

.slider .slide.is-color.is-red {
    background-color: #dc3545;
}

.slider .slide.is-color.is-yellow {
    background-color: #ffc107;
}

.slider .slide.is-color.is-green {
    background-color: #198754;
}

.slider .slide.is-color.is-blue {
    background-color: #0d6efd;
}

.slider .slide.is-color.is-orange {
    background-color:  #fd7e14;
}

.slider .slide.is-color.is-purple {
    background-color:  #6f42c1;
}

.slider .slide.is-dead {
    background-color:  #000000;
}

.carousel-item {
    transition: opacity 230ms ease;
    opacity: 0;
}

.carousel-item.active {
    opacity: 1;
}

.slider * {
    user-select: none;
}

.slider .slider-controller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}